@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --header-light: rgb(195, 215, 255);
  --header-dark: rgb(0, 45, 135);
  --welcome-light: rgb(195, 215, 255);
  --welcome-dark: rgba(0, 45, 135, .8);
  --projects-light: rgb(215, 230, 255);
  --projects-dark: rgb(20, 60, 140);
  --contact-light: rgb(170, 200, 255);
  --contact-dark: rgb(0, 40, 130);
  --footer-light: rgb(170, 190, 230);
  --footer-dark: rgb(20, 30, 60);
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
  font-family: Rubik, sans-serif;
}

@media (min-width: 650px) {
  html {
    font-size: 20px;
  }

  img.project-tile {
    max-width: 460px;
  }
}

@media (max-width: 649px) {
  html {
    font-size: 16px;
  }

  img.project-tile {
    max-width: 400px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, .header-description {
  text-align: center;
}

h1 {
  margin-bottom: 10px;
}

h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: .5ch;
}

p {
  margin-bottom: 1.2ch;
}

.header-description {
  text-align: center;
  font-weight: 500;
  font-size: 1.2rem;
}

.header {
  position: sticky;
  top: 0;
  box-shadow: 0 0 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 .5rem;
  color: var(--header-dark);
  background: var(--header-light);
  height: 3rem;
  z-index: 100;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar a {
  padding: .5rem .75rem;
  border-radius: 2rem;
  transition: ease-in-out .1s;
}

.navbar a:hover {
  color: var(--header-light);
  background: var(--header-dark);
}

section {
  padding: 30px 15px;
}

footer {
  padding: 30px 15px 15px;
}

section#welcome-section {
  height: calc(100vh - 3rem);
  background: url(https://images.pexels.com/photos/574071/pexels-photo-574071.jpeg), var(--welcome-dark);
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: var(--welcome-light);
  font-size: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section#projects {
  background: var(--projects-light);
  color: var(--projects-dark);

}

.project-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px 20px;
}

img.project-tile {
  /* max-width: 400px; */
  border-radius: 1rem;
  box-shadow: 0 2px 4px black;
  transition: ease-in-out .1s;
}

img.project-tile:hover {
  transform: scale(1.01);
  z-index: -1;
}

#projects > h2 {
  text-decoration: underline;
  text-underline-offset: .55rem;
  padding-bottom: .55rem;
}

#contact {
  background: var(--contact-light);
}

.icon-gallery {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: fit-content;
}

i {
  font-size: 2rem;
  text-align: center;
  padding: 0.5rem;
  border-radius: 50%;
  transition: ease-in-out .1s;
}

i:hover {
  background-color: var(--contact-dark);
  color: var(--contact-light);
}

footer {
  text-align: center;
  font-style: italic;
  font-weight: 450;
  color: var(--footer-light);
  background-color: var(--footer-dark);
}